@import "variables.scss";

.react-mde {
  border: 0;

  * {
    box-sizing: border-box;
  }

  .invisible {
    display: none;
  }

  .image-tip {
    user-select: none;
    display: flex !important;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #707A8A;
    background-color: $mde-toolbar-color;
    position: relative;

    .image-input {
      min-height: 0;
      opacity: .01;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      cursor: pointer;
    }

  }
}
