@import "variables.scss";

.mde-textarea-wrapper {
  position: relative;
  margin: 12px 0;

  textarea.mde-text {
    width: 100%;
    border: 1px solid $mde-border-color;
    border-radius: $mde-border-radius;
    padding: $mde-editor-padding;
    vertical-align: top;
    resize: vertical;
    overflow-y: auto;
  }
}
