//General

$mde-border-radius:                 8px !default;
$mde-white-color:                   white !default;
$mde-border-color:                  #CBD0D6 !default;
$mde-button-color:                  #242729 !default;
$mde-toolbar-color:                 white !default;
$mde-toolbar-border-color:          #EAEBED !default;
$mde-selected-color:                #0366d6 !default;
$mde-toolbar-padding:               10px !default;
$mde-editor-default-min-height:     200px !default;
$mde-editor-padding:                12px !default;
$mde-preview-horizontal-padding:    10px !default;
$mde-preview-padding:               12px !default;
$mde-preview-default-min-height:    $mde-editor-default-min-height !default;
$mde-preview-default-height:        auto !default;
$mde-content-primary:               #22242A !default;
